<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            href="{{ cdn }}/favicon.ico"
        />
        <link rel="stylesheet" href="/static/styles.css" />
        <title>MyNoodles | Мир Лапши</title>
    </head>
    <body>
        <div class="header">
            <a href="/"><h1>MyNoodles</h1></a>
        </div>

        <div class="filter-section">
            <div class="countries">
                {% for country in countries %}
                <a href="/countries/{{ country.name | urlencode }}"
                    >{{ country.name }}</a
                >
                {% endfor %}
            </div>

            <div class="manufacturers">
                {% if noodles %} {% for manufacture in manufacturers %}
                <a href="/manufacturers/{{ manufacture | urlencode }}"
                    >{{ manufacture }}</a
                >
                {% endfor %} {% endif %}
            </div>

            <div class="prep-types">
                <a href="/prep_types/PACKET">🥣 Тарелка</a>
                <a href="/prep_types/CUP">📦 Коробочка</a>
                <a href="/prep_types/COOK">🫕 Кастрюля</a>
                <a href="/dish_base/RICE">🍚 Рис</a>
                <a href="/pho">🍲 Фо</a>
            </div>
        </div>

        <div class="cards">
            {% if not noodles %}
            <div class="image-container">
                <a href="/recommendation" class="recommend-link">
                    <div class="recommend-text">Количество лапши, которую я уже попробовал = {{ count_noodles }}</div>
                    <img
                        src="{{ cdn }}/noodle.png"
                        alt="logo"
                        class="centered-image"
                    />
                    <div class="recommend-text">И вот какие я рекомендую</div>
                </a>
            </div>
            {% endif %}

            {% for noodle in noodles %}
            <div class="card">
                <a href="/noodle/{{ noodle.id }}">
                    <img
                        src="{{ cdn }}/{{ noodle.image }}"
                        alt="{{ noodle.title }}"
                    />
                </a>
                <div class="card-body">
                    <div>
                        <div class="card-title">{{ noodle.title }}</div>
                        <div class="info-block">
                            <div class="info-row">
                                <span class="info-label">🌏 Страна:</span> 
                                <span>{{ noodle.country.name }}</span>
                            </div>
                            <div class="info-row">
                                <span class="info-label">🏭 Изготовитель:</span>
                                <a href="/manufacturers/{{ noodle.manufacture.name | urlencode }}">{{ noodle.manufacture.name }}</a>
                            </div>
                            <div class="info-row">
                                <span class="info-label">Приготовление:</span>
                                {% if noodle.prep_type.value == "PACKET" or noodle.prep_type == "PACKET" %}
                                    <a href="/prep_types/PACKET">🥣 Тарелка</a>
                                {% elif noodle.prep_type.value == "CUP" or noodle.prep_type == "CUP" %}
                                    <a href="/prep_types/CUP">📦 Коробочка</a>
                                {% elif noodle.prep_type.value == "COOK" or noodle.prep_type == "COOK" %}
                                    <a href="/prep_types/COOK">🍲 Кастрюля</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-description">
                            {{ noodle.description }}
                        </div>
                    </div>
                    {% if noodle.recommendation %}
                    <a href="/recommendation" class="recommend-link">
                        <div class="recommended-badge">⭐ Рекомендовано</div>
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>